@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Carter Mission 5";

}




<h1>Carter Walch</h1>
<div class="blankSpace2">
    <p>Also known as 'Cool Guy Walch'</p>
</div>
<div class="row">
    <div class="column1">
        <img src="img/carterTrumpet.jpg" style="width: 450px; height: auto;" />
    </div>
    <div class="column2">
        <div>
            <h3>What I am hoping to get out of IS 413:</h3> <!--paragraph of my hopes for IS 413-->
            <p>
                I am excited for IS 413 because I get to further my knowledge of Web Development with a new framework
                and programming language. I am hoping to really learn the principles taught in this class to be able to easily create personal projects with asp.net and c#.
                I know it will add a lot of value to my resume and I want to really internalize what is taught to be able to use in the industry in my career.
            </p>
        </div>
        <div class="blankSpace"></div>
        <div>
            <h2>&lArr; This is a picture of me and my jazz combo!</h2>
        </div>
    </div>
    <div class="column3">
        <div>
            <h3>Here are my top three jobs that I am hoping to pursue after graduation:</h3> <!--future career paths-->
            <ol>
                <li>Software Developer</li>
                <li>Database Administrator</li>
                <li>Data Analyst</li>
            </ol>
        </div>
        <div class="blankSpace2"></div>
        <div>
            <!--This is where the form used to be before moving it to its own view-->

        </div>
    </div>
</div>



